<table>
  <tr>
    <th colspan="2">first.o</th>
    <th colspan="2">second.o</th>
    <th rowspan="2">Extracted?</th>
  </tr>
  <tr>
    <td>Binding</td>
    <td>Class</td>
    <td>Binding</td>
    <td>Class</td>
  </tr>
  <tr>
    <td rowspan="18">Global</td>
    <td rowspan="6">Undefined</td>
    <td rowspan="3">Global</td>
    <td>Undefined</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Tentative</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Defined</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td rowspan="3">Weak</td>
    <td>Undefined</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Tentative</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Defined</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td rowspan="6">Tentative</td>
    <td rowspan="3">Global</td>
    <td>Undefined</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Tentative</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Defined</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td rowspan="3">Weak</td>
    <td>Undefined</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Tentative</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Defined</td>
    <td>No</td>
  </tr>
  <tr>
    <td rowspan="6">Defined</td>
    <td rowspan="3">Global</td>
    <td>Undefined</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Tentative</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Defined</td>
    <td>No</td>
  </tr>
  <tr>
    <td rowspan="3">Weak</td>
    <td>Undefined</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Tentative</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Defined</td>
    <td>No</td>
  </tr>
  <tr>
    <td rowspan="18">Weak<br></td>
    <td rowspan="6">Undefined</td>
    <td rowspan="3">Global</td>
    <td>Undefined</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Tentative</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Defined</td>
    <td>No</td>
  </tr>
  <tr>
    <td rowspan="3">Weak</td>
    <td>Undefined</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Tentative</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Defined</td>
    <td>No</td>
  </tr>
  <tr>
    <td rowspan="6">Tentative</td>
    <td rowspan="3">Global</td>
    <td>Undefined</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Tentative</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Defined</td>
    <td>No</td>
  </tr>
  <tr>
    <td rowspan="3">Weak</td>
    <td>Undefined</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Tentative</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Defined</td>
    <td>No</td>
  </tr>
  <tr>
    <td rowspan="6">Defined</td>
    <td rowspan="3">Global</td>
    <td>Undefined</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Tentative</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Defined</td>
    <td>No</td>
  </tr>
  <tr>
    <td rowspan="3">Weak</td>
    <td>Undefined</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Tentative</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Defined</td>
    <td>No</td>
  </tr>
</table>